.banner{
    background-color: #ededf0;
}
.card-header{
    border: none;
    background-color: #ededf0;
}
.card{
    background-color: #ededf0;
    border: none;
}

.card-header h6{
    margin-bottom: -8px;
}
.card-body h5{
    font-size: 42px;
}
.card-header h5 {
	margin-bottom: -18px;
	font-size: 15px;
}
/* About */
.About img{
    margin-left: 155px !important;
}
/* card2 */
.card2 {
    background-color: none;
}
.card-header2{
    background-color: none;
}
/* card3 */
.card3{
    margin-right: 10px;
}
.card-body span {
	background-color: #ededf2;
	height: 60px;
	width: 60px;
	display: inline-block;
	border-radius: 50%;
	line-height: 55px;
}
.card-body p{
    line-height: 54px;
}
.card-body2 p{
    line-height: 22px;
    padding: 0px 32px;
}
.card-body2.btn{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
}
.card4{
    box-shadow: 0px 0px 12px 4px #ddd;
    box-sizing: border-box;
   
}
.contact-us{
    margin-left: 10px;
}
.contact button{
    margin: auto;
}
